body {
	min-height:100vh;
	display:flex;
	flex-direction:column;
    font-family: Sans-serif,serif;
    margin: 0;
}

header {
    text-align: center;
    background:  dimgrey;
    color: white;
    padding: 1em 1em 1em 1em;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header nav a {
	text-transform: uppercase;
	color:deepskyblue;
    text-decoration: none;
    margin: 1em 1em 1em 1em;
}

main {
	flex-grow:1;
    margin: 1em 1em 1em 1em;
}

main audio {
    text-align: center;
}

footer {
    background:  dimgrey;
    color: white;
}

footer ul {
    padding: 0em 0em 0em 0em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul li a {
	color:pink;
    text-decoration: none;
    margin: 1em 1em 1em 1em;
}

footer p {
    background: darkslategrey;
    color: white;
    margin: 0em 0em 0em 0em;
    text-align: right;
    padding: 0em 1em 0em 1em;
}